/env/
/.idea/
/__pycache__/
/models/
/pretrain/rmvpe.pt
/pretrain/fcpe.pt
/pretrain/checkpoint_best_legacy_500.pt
/pretrain/nsf_hifigan/model
/modules/F0Predictor/rmvpe/__pycache__/
/modules/F0Predictor/fcpe/__pycache__/
/modules/F0Predictor/__pycache__/
/modules/__pycache__/
/inference/__pycache__/
/diffusion/__pycache__/
/diffusion/logger/__pycache__/
/vdecoder/__pycache__/
/vdecoder/nsf_hifigan/__pycache__/
/vdecoder/hifigan/__pycache__/
/vencoder/__pycache__/
/cluster/__pycache__/
